@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

.main-container {
    background-color: #F3F5FC;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    max-width: 1400px;
}

.container-flex {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

.content {
    flex: 1; 
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.content_imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    height: 100%; 
    padding: 20px 0 ; 
    box-sizing: border-box; 
    padding-right: 20px;
    gap: 190px;
}

.segundo-textarea {
    width: 100%;
    height: 250px;
    margin-bottom: auto;
    border: none; 
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

.content_imagen img {
    margin-top: auto; 
    margin-bottom: auto; 
    max-height: calc(100vh - 40px); 
    object-fit: contain; 
}

.ingrese_texto {
    border: none;
    background-color: #F3F5FC;
    width: 100%;
    height: 50px;
    color: #12376e;
    font-size: 18px;
    margin-top: 90px;
}

.salida_texto {
    border: none;
    background-color: #F3F5FC;
    width: 100%;
    height: 50px;
    color: #12376e;
    font-size: 20px;
    margin-top: 90px;
}

.ingrese_texto::placeholder {
    color: #12376e;
    font-size: 16px;
    font-weight: bold;
}

.p_indicaciones {
    color: #12376e;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 250px;
}

.p_imagen {
    width: 15px; 
    height: auto; 
}

.enlace_encripta {
    width: 250px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 15.5px 0;
    text-decoration: none;
    color: #f8f6f6;
    background-color: #0A3781;
    font-family: 'inter';
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.enlace_desencripta {
    width: 250px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 15.5px 0;
    text-decoration: none;
    color: #12376e;
    background-color: #D8DFE8;
    font-family: 'inter';
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlace_copiar {
    width: 200px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 15.5px 0;
    text-decoration: none;
    color: #12376e;
    background-color: #D8DFE8;
    font-family: 'inter';
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    gap: 15px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: auto; 
    width: 100%;
}

/* Media Query para tabletas */
@media (max-width: 1024px) {
    /* Ajustes para pantallas más pequeñas */
    .main-container {
        width: 100%;
        padding: 0;
    }
    .container-flex {
        flex-direction: column;
        align-items: center;
    }

    .content, .content_imagen {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0; /* Eliminar margen izquierdo */
        margin-right: 0; /* Eliminar margen derecho */
        padding: 0 10px; /* Añadir padding interno */
    }

    .p_indicaciones {
        text-align: center;
    }

    .enlace_encripta, .enlace_desencripta, .enlace_copiar {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .footer {
        text-align: center;
        font-size: 14px;
        padding: 10px;
    }
}

/* Media Query para pantallas de móviles */
@media (max-width: 600px) {
    .main-container {
        width: 100%;
        padding: 0;
    }

    .ingrese_texto, .salida_texto, .segundo-textarea {
        width: 100%;
        font-size: 16px;
    }

    .enlace_encripta, .enlace_desencripta, .enlace_copiar {
        padding: 10px;
    }

    .p_indicaciones {
        font-size: 14px;
    }

    .footer {
        font-size: 12px;
    }

    .content, .content_imagen {
        margin-left: 0; /* Eliminar margen izquierdo */
        margin-right: 0; /* Eliminar margen derecho */
        padding: 0 10px; /* Añadir padding interno */
    }

}
