@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #c9e2fa;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.content {
    
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del contenedor */
    margin-left: 120px;
}

.ingrese_texto {
    border: none;
    background-color: #c9e2fa;
    width: 580px;
    height: 50px;
    color: #12376e;
    font-size: 18px;
    margin-top: 90px;
}

.ingrese_texto::placeholder {
    color: #12376e;
    font-size: 16px;
    font-weight: bold;
}

.p_indicaciones {
    color: #12376e;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.p_imagen {
    width: 15px; 
    height: auto; 
}

.enlace_encripta {
    width: 250px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 15.5px 0;
    text-decoration: none;
    color: #f8f6f6;
    background-color: #12376e;
    font-family: 'inter';
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.enlace_desencripta {
    width: 250px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 15.5px 0;
    text-decoration: none;
    color: #12376e;
    background-color: #9eacc2;
    font-family: 'inter';
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 15px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: auto; 
    width: 100%;
}